

:root{
    /*Font Colors*/
    --primary-fColor: #fff;

    /*Background Colors*/
    --primary-bgColor: rgb(205, 205, 205);
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body,
html {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--primary-bgColor);
    color: var(--primary-fColor);
    overflow-x: clip;
}

body div.container {
    position: relative;
    height:100%;
    width: 100%;
    /* background-color: blueviolet; */
}

body div.container main section.gallery articule ul.gallery-container1,
body div.container main section.gallery articule ul.gallery-container2 {
    display: flex;
    flex-wrap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

body div.container main section.gallery article ul.gallery-container1 {
    display: flex;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    gap: 10px;
    padding-block-start: 15px;
    padding-block-end: 45px;
    padding-inline: 15px;

    & li {
        position: relative;
        display: flex;
        height: 100%;
        width: 30%;
        background-color: red;
        overflow: clip;
        border-radius: 2px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.44);
        transition: 0.8s ease;
        
        &:hover {
            scale: 1.01;
        }

        & p,
        & button {
            position: absolute;
            z-index: 2;
            /* background-color: red; */
        }

        & p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: 700;
            /* text-transform: uppercase; */
            font-variant: small-caps;
            top: 5px;
            width: 100%;
            height: 6%;
            text-align: center;
            text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.793);
        }
        & button {
            left: 50%;
            bottom: 8px;
            width: 95%;
            height: 6%;
            transform: translate(-50%, 0);
            text-align: center;
            border-radius: 1px;
            border: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            font-weight: 500;
            background-color: rgba(255, 255, 255, 0.303);
            color: #fff;
            cursor: pointer;
            transition: 1.2s ease;

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                left:0;
                top: 0;
                z-index: -1;
                background-color: rgba(173, 71, 71, 0.814);
                transition: inherit;
            }

            &:hover {
                width: 95.5%;
                height: 6.5%;
                bottom: 7px;
                


                &::before {
                    width: 100%;
                }
            }
        }
        

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &[visible="inactive"]{
            display: none;
        }
    }
}

body div.container main section.gallery article ul.gallery-container2 {
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    height: max-content;
    gap: 10px;
    flex-wrap: wrap;
    padding-inline: 15px;
    padding-block: 15px;
    


    & li {
        display: flex;
        position: relative;
        overflow: clip;
        /* background-color: blue; */
        flex-wrap: wrap;
        width: 550px;
        aspect-ratio: 7/4;
        border-radius: 2px;
        transition: 0.8s ease;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.44);

        &:hover {
            scale: 1.01;
        }
        
        & img {
            width: 100%;
            object-fit: 100%;
        }

        & p,
        & button {
            position: absolute;
        }

        & p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 100%;
            /* background-color: green; */
            font-size: 25px;
            font-weight: 600;
            /* text-transform: uppercase; */
            font-variant: small-caps;
            text-align: center;
            padding-block: 10px;
            padding-inline: 10px;
            text-overflow: clip;
        }

        & button {
            left: 50%;
            transform: translate(-50%, 0);
            width: 95%;
            height: 15%;
            bottom: 8px;
            text-align: center;
            border-radius: 1px;
            border: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            font-weight: 500;
            background-color: rgba(255, 255, 255, 0.303);
            color: #fff;
            cursor: pointer;
            transition: 1.2s ease;

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                left:0;
                top: 0;
                z-index: -1;
                background-color: rgba(173, 71, 71, 0.814);
                transition: inherit;
            }

            &:hover {
                width: 95.5%;
                height: 16%;
                bottom: 7px;
                


                &::before {
                    width: 100%;
                }
            }
        }
        &[visible="inactive"]{
            display: none;
        }
    }
}